@page "/Autor"

<h1>O autorze</h1>

<p style="color: blue;">Adam Mickiewicz (1798-1855) był jednym z największych polskich poetów romantycznych. Urodził się w Moskwie, a jego twórczość, w tym epopeja narodowa "Pan Tadeusz", odegrała istotną rolę w polskiej literaturze.</p>
<img src="https://ocdn.eu/images/pulscms/MGY7MDA_/6c5842d4-54c5-494d-9fd2-299de74dce0e.jpeg" alt="Zdjęcie autora" />
