@page "/Autor"

<h1>O autorze</h1>

<p style="color: blue;">Adam Mickiewicz (1798-1855) był jednym z największych polskich poetów romantycznych. Urodził się w Moskwie, a jego twórczość, w tym epopeja narodowa "Pan Tadeusz", odegrała istotną rolę w polskiej literaturze.</p>
<img src="https://www.bing.com/images/blob?bcid=RAKBX18Dkv4GqxcxoNWLuD9SqbotqVTdP-o" alt="Zdjęcie autora" />